* {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

header {
    font-size: 21px;
}


/* Default size for smaller screens */
.img-fluid-large {
    max-width: 100%;
    height: auto;
}

/* Adjust size for larger screens */
@media (min-width: 768px) {
    .img-fluid-large {
        max-width: 80%;
        /* Adjust this value as needed for the desired scaling percentage */
    }
}

/* Pricing Section Blues */
.text-deep-blue {
  color: #073763 !important;
}


.bg-deep-blue {
  background-color: #073763 !important;
  border-color: #073763 !important;
  color: #fff !important;
}
